# Ignore files for Vue.js
node_modules/
dist/
*.local
*.env.local
*.env.*.local
.DS_Store

# Ignore files for .NET
bin/
obj/
*.user
*.suo
*.pdb
*.cache
*.log
*.vs/
.vscode/
*.db
*.sqlite
*.sqlite3
*.mdf
*.ldf
Migrations/
